- content_for :javascript_head do
  = javascript_include_tag "welcome"

#welcomeContainer.container

  #welcomeCarousel.carousel.slide
    .carousel-inner
      .item.active.row
        = image_tag '/images/strawberry_bowl.jpg'
        .carousel_text.panel.panel-default.col-sm-8.col-sm-offset-2
          %h2.text-center Homemade from the finest freeze-dried strawberries, raspberries, cranberries, and more.
          %br/
          %p.text-center= link_to "View Treats", products_path, class: "btn btn-danger"
      .item
        = image_tag '/images/chocolate_derrick_coetzee.jpg'
        .carousel_text.panel.panel-default.col-sm-8.col-sm-offset-2
          %h2.text-center Mixed with chocolate, white chocolate, and triple berry chocolate candy coatings.
          %br/
          %p.text-center= link_to "View Treats", products_path, class: "btn btn-warning"
      .item
        = image_tag '/images/berries_jayneandd.jpg'
        .carousel_text.panel.panel-default.col-sm-8.col-sm-offset-2
          %h2.text-center Whether for yourself or as a gift, these treats make the perfect snack.
          %br/
          %p.text-center= link_to "View Treats", products_path, class: "btn btn-danger"

